<!DOCTYPE html>
<html
  lang="en"
  class="bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100 selection:text-neutral-900 selection:bg-green-300 antialiased smooth-scroll"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <title>about - utils</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="mx-5 my-3">
      <nav class="flex items-center justify-between">
        <div>
          <a
            href="/"
            class="text-black dark:text-white hover:text-neutral-900 dark:hover:text-neutral-100 text-xl font-black"
            >utils</a
          >
        </div>
        <div class="flex items-center space-x-4">
          <a
            href="/about"
            class="text-neutral-500 dark:hover:text-neutral-400 hover:text-neutral-600 font-medium"
            >about</a
          >
        </div>
      </nav>
    </header>
    <main class="grow">
      <div class="my-28 mx-5">
        <div class="flex flex-col w-full">
          <div class="flex items-center justify-center">
            <h1 class="text-black dark:text-white font-black text-xl">about</h1>
          </div>
          <div class="mt-14 mx-auto max-w-md">
            <p class="text-neutral-500">
              utils is a simple and free domain profiler built by
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://twitter.com/cazcik"
                class="text-neutral-700 dark:text-neutral-300 font-medium hover:underline underline-offset-4"
                >@cazcik</a
              >, and the source code is available at
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/cazcik/utils"
                class="text-neutral-700 dark:text-neutral-300 font-medium hover:underline underline-offset-4"
                >github.com/cazcik/utils</a
              >.
            </p>
            <p class="mt-4 text-neutral-500">
              built using the free and open source tools put together by
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://projectdiscovery.io"
                class="text-neutral-700 dark:text-neutral-300 font-medium hover:underline underline-offset-4"
                >ProjectDiscovery</a
              >, such as
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/projectdiscovery/dsnx"
                class="text-neutral-700 dark:text-neutral-300 font-medium hover:underline underline-offset-4"
                >dsnx</a
              >
              and
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/projectdiscovery/httpx"
                class="text-neutral-700 dark:text-neutral-300 font-medium hover:underline underline-offset-4"
                >httpx</a
              >.
            </p>
            <p class="mt-4 text-neutral-500">
              this project was inspired by
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://dnsdumpster.com"
                class="text-neutral-700 dark:text-neutral-300 font-medium hover:underline underline-offset-4"
                >dnsdumpster</a
              >, a project by
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://hackertarget.com"
                class="text-neutral-700 dark:text-neutral-300 font-medium hover:underline underline-offset-4"
                >HackerTarget</a
              >.
            </p>
          </div>
        </div>
      </div>
    </main>
    <footer class="mx-5 my-3">
      <div class="flex items-center justify-center">
        <p class="text-neutral-500 uppercase text-xs">
          &copy; 2023 Unna Labs. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
