<!DOCTYPE html>
<html
  lang="en"
  class="bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100 selection:text-neutral-900 selection:bg-green-300 antialiased smooth-scroll"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/disable-element.js"></script>
    <link rel="icon" href="/static/favicon.ico" sizes="any" />
    <title>dnsd</title>
    <meta name="description" content="Simple, DNS research" />
    <meta name="keywords" content="cybersecurity,dns,dns tools" />
    <link rel="canonical" href="https://dnsd.cazcik.me" />

    <!-- OpenGraph -->
    <meta property="og:title" content="dnsd" />
    <meta property="og:description" content="Simple, DNS research" />
    <meta property="og:url" content="https://dnsd.cazcik.me" />
    <meta property="og:site_name" content="dnsd" />
    <meta property="og:image" content="/static/images/utils.png" />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@cazcik" />
    <meta name="twitter:title" content="dnsd" />
    <meta name="twitter:description" content="Simple, DNS research" />
    <meta name="twitter:image" content="/static/images/utils.png" />

    <!-- Theme -->
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#f5f5f5"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#171717"
    />
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="mx-5 my-3">
      <nav class="flex items-center justify-between">
        <div>
          <a
            href="/"
            class="text-black dark:text-white hover:text-neutral-900 dark:hover:text-neutral-100 text-xl font-black"
            >dsnd</a
          >
        </div>
        <div class="flex items-center space-x-4">
          <a
            href="/about"
            class="text-neutral-500 dark:hover:text-neutral-400 hover:text-neutral-600 font-medium"
            >about</a
          >
        </div>
      </nav>
    </header>
    <main class="grow">
      <div class="my-28 mx-5">
        <div class="flex flex-col w-full">
          <div class="flex items-center justify-center">
            <h1 class="text-black dark:text-white font-black text-xl">
              simple, dns research
            </h1>
          </div>
          <form
            hx-post="/domain"
            hx-target="#result"
            hx-indicator="#spinner"
            hx-ext="disable-element"
            hx-disable-element="#button"
            class="mt-4 flex items-center justify-center"
          >
            <input
              type="text"
              name="domain"
              class="bg-white dark:bg-neutral-600 dark:disabled:bg-neutral-700 text-black dark:text-white placeholder:text-neutral-500 px-4 py-2 focus:outline-none rounded-bl-md rounded-tl-md"
              placeholder="example.org"
            />
            <button
              id="button"
              type="submit"
              class="block bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-opacity-80 dark:disabled:bg-neutral-950 text-black dark:text-white font-medium px-4 py-2 focus:outline-none rounded-br-md rounded-tr-md"
            >
              search
            </button>
          </form>
          <div id="spinner" class="htmx-indicator flex items-center justify-center mt-10">
            <div
              class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
              role="status">
              <span
                class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
                >Loading...</span
              >
            </div>
          </div>
          <div
            id="result"
            class="flex flex-col mt-14 max-w-3xl mx-auto w-full"
          ></div>
        </div>
      </div>
    </main>
    <footer class="mx-5 my-3">
      <div class="flex items-center justify-center">
        <p class="text-neutral-500 uppercase text-xs">
          &copy; 2023 Unna Labs. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
